{% extends "base.html" %}

<head>{% load static %}
    {% block head %}
    {{ block.super }}  
{% endblock head %} 
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="OpenGenus Foundation, one of the largest open-source communities in the World focussed on enabling people to work offline for a longer stretch, making search generation and discussion specific and making research more accessible">
    <meta name="keywords" content="OpenGenus, open-source, communities, offline internet">
    <meta name="author" content="Aditya Chatterjee">
      
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500" rel="stylesheet">
    <meta name="description" content="OpenGenus Internship {{object.username}} {{object.position}} {{object.about}} ">
    <meta name="keywords" content="OpenGenus, open-source, communities, internship, {{object.username}}, {{object.position}}">
  </head>

  <title>{% block head_title %}{{ block.super }}{% endblock head_title %}</title>
{% block header %}
    {{ block.super }}
{% endblock header %}

{% block content %}
  <body>
  <br><br>
  <h1 class="alt-h1 lh-condensed mt-2 mb-10 text-center">Meet some of us!</h1>
  <section id="team-section" class="my-5 text-center bg-light text-muted">
    <div class="container">
      <div class="row">
      {% for obj in object_list  %}
        <div class="col-lg-4 col-md-4">
          <div class="card  my-3">
            <div class="card-body">
              <a href='/intern/{{ obj.username }}'>
              <img src="{{ obj.picture_upload.url }}" alt="Display Image" style="height:145px;width:150px;" class="img-fluid mb-4">
              <h4>{{ obj.name }}
            </a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
        {% if is_paginated %}
          <!-- <div class="pagination-centered">
            <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div> -->

          <nav aria-label="...">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <a class="page-link" href="?page=1" tabindex="-1">First</a>
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="page-item  active"><a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                  {% else %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }} </a>
                    </li>
                  {% endif %}
                {% endfor %}
                  {% if page_obj.has_next %}
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                  {% endif %}
              </ul>
          </nav>


        {% endif %}
      </div>
    </div>
  </section>


  </body>
{% endblock content %}

{% block press_section %}
{% endblock press_section %}

<footer>
{% block footer %}
  {{ block.super }}
{% endblock footer %}
</footer>
