{% extends "base.html" %}

<head>{% load static %}
    {% block head %}
    {{ block.super }}  
{% endblock head %}    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500" rel="stylesheet">
    <meta name="description" content="OpenGenus Internship {{object.username}} {{object.position}} {{object.about}} ">
    <meta name="keywords" content="OpenGenus, open-source, communities, internship, {{object.username}}, {{object.position}}">
  </head>

  <title>{% block head_title %}{{ block.super }}{% endblock head_title %}</title>
{% block header %}
    {{ block.super }}
{% endblock header %}

{% block content %}
  <body>
<!--     <ul>
    {% for obj in object_list  %}
      <img src="{{ obj.picture_upload.url }}" style="height:135px;width:130px;" >
      <li>
        <a href='/intern/{{ obj.username }}'>{{obj.name}}</a><br>
        {{obj.position}} {{obj.location}}
       </li>
      <br>
    {% endfor %}
    </ul> -->

  <!-- team -->
  <br><br>
  <h1 class="alt-h1 lh-condensed mt-2 mb-10 text-center">Meet some of us!</h1>
  <section id="team-section" class="my-5 text-center bg-light text-muted">
    <div class="container">
      <div class="row">
      {% for obj in object_list  %}
        <div class="col-lg-4 col-md-4">
          <div class="card  my-3">
            <div class="card-body">
              <img src="{{ obj.picture_upload.url }}" alt="Display Image" style="height:145px;width:150px;" class="img-fluid mb-4">
              <h3>{{obj.name}}</h3>
              <h6>Username:{{ obj.username }}</h6>
              <h5 class="text-muted">{{obj.position}}</h5>
              <p>{{ obj.introduction| truncatechars:50 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
    </div>
  </section>


  </body>
{% endblock content %}

{% block press_section %}
{% endblock press_section %}

<footer>
{% block footer %}
  {{ block.super }}
{% endblock footer %}
</footer>
