/* Resets */

html, body {height:100%;overflow:auto}

hr {
  margin-left: 0;
  max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
  position: relative;
  /* background: url(https://source.unsplash.com/9Y8vxVQN4o4/1920x1080) no-repeat bottom center/cover;
*/
  background-color: black;
}

.jumbotron:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.jumbotron .container {
  padding: 75px 0;
  padding-bottom: 20px;
}
.jumbotron h1,
.jumbotron .lead {
  color: #fff;
}

/* Custom button */
.btn-primary {
  background: #1096fc;
  border: 0;
}
.btn-primary:hover {
  background: #0384e5;
}

/* Features */
.sec-features .row:nth-of-type(n+2) {
  margin-top: 160px;
}
.sec-features .row:last-of-type {
  margin-bottom: 160px;
}
.sec-features .feature-icon {
  max-width: 150px;
}

/* Testimonials */
.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators li {
  background: rgba(33, 33, 33, 0.1);
}
.carousel-indicators li:focus, .carousel-indicators li:hover {
  background: rgba(33, 33, 33, 0.5);
}
.carousel-indicators .active {
  background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
  color: #212121;
}
.carousel-control-next:focus, .carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #111;
}

header {
  position: absolute !important;
  z-index: 1;
  background-color: white;
  width: 100%;
  -webkit-transform: translateZ(0)
}

/* Navbar */
.navbar {
  padding: 0.3rem 1rem;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight:500;
  color: #6c757dc9;
  letter-spacing: 0.05rem;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active{
  color: #212121;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Footer */
.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background: #212121;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transform: translateZ(0)
}

.footer li:nth-of-type(n+2) {
  margin-left: 8px;
}
.footer li:nth-of-type(n+1) {
  margin-right: 25px;
}
.footer a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.footer a:focus, .footer a:hover {
  color: rgba(255, 255, 255, 0.25);
}
.col-md-4 {
  padding-bottom: 20px;
}

/*
------------------------------------------------------
*/

#div-wrapper {
    white-space: nowrap;
    max-width: 99%;
    text-align: center;
}

.single-div {
    width: 27%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3%;
    white-space: normal;
}

.single-div img {
  max-width: 200px;
  padding-bottom: 20px;
  height: auto;
  display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 3%;
    white-space: normal;
}
/* Mobile */
@media (min-width: 992px) {
  /* Navbar */
  .navbar {
    padding: 0rem 1rem;

  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 0.80em;
    padding-left: 0.80em;
    display: inline-block;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    border-bottom: 0.20rem solid transparent;
    border-top: 0.20rem solid transparent;
    transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;
    -webkit-transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;
  }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    border-bottom: 0.20rem solid #ffc107;
    background-color: #fef56f;
  }
}
@media (max-width: 991.98px) {
  .navbar-light .nav-item + .nav-item{
    border-top: 1px solid #f2f1f1;
  }
}
@media screen and (max-width: 600px) {

    .single-div {
        display: block;
        width: 65%;
        margin: 0 auto;
    }

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.wrapper1 {
  display: inline-flex;
  margin: 0;
  padding-top: 100px;
  position: absolute;
  z-index: 500;
  top: 0%;
  left: 30%;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.lead a { color: white !important; }

.pro img {
  max-height:70%;
  max-width: 100%;
}

.btn-horizontal-center{
  margin: 0 auto;
  display: block;
}
.social_link{
  color: #fef232;
  transition: all .2s ease-in-out;
}
.social_link:hover{
  transform: scale(1.1);
}
.star-ratings {
  display: table;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.pad-lr-20{
  padding-left: 20px;
  padding-right: 20px;
}
