<!Doctype HTML>

<html>
<head>
	{% block head %}
		{% include "snippets/css.html" %}
		{% include "snippets/js.html" %}
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" type="image/png" href="/static/image/favicon.png"/>
	{% endblock head%}
</head>
<title>{% block head_title %}OpenGenus Foundation{% endblock head_title%}</title>

{% block header %}
	<header>
        <nav class="navbar navbar-light navbar-toggleable-sm navbar-fixed-top">
					<a href="{% url 'home' %}" class="navbar-brand mb-0">
						 <img src="/static/image/og_logo.png" alt="Open Genus" style="height:2.57em;width:auto;" class="img-fluid">
					</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="headerNav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="https://github.com/OpenGenus/quark" target="_blank">Quark</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://github.com/OpenGenus/cosmos" target="_blank">Cosmos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://iq.opengenus.org/" target="_blank">IQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://discourse.opengenus.org/" target="_blank">Discuss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/OpenGenus/cosmos-search" target="_blank">Search Engine</a>
              </li>

            </ul>
          </div>
        </nav>
	</header>
{% endblock header %}


{% block content %}
	{% block first_section %}
		{% block first_section_upper %}
		  <section class="hero">
		    <div class="jumbotron jumbotron-fluid mb-0">
		      <div class="container">
		        <div class="row justify-content-center text-center">
		          <div class="col-md-10 col-lg-6">
		{% endblock first_section_upper %}

	   {% block first_section_lower %}
	            <p class="lead">
	            	<a href="https://github.com/opengenus" target="_blank"><i class="fa fa-3x fa-github-square"></i></a>
	            	<a href="https://twitter.com/opengenus" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
			      		<a href="https://discourse.opengenus.org" target="_blank"><i class="fa fa-3x fa-commenting-o"></i></a>
			      		<a href="mailto:team@opengenus.org" target="_blank"><i class="fa fa-3x fa-envelope"></i></a>
	            </p>
	         		</div>
	        	</div>
	      	</div>
	    	</div>
	  	</section>
	  {% endblock first_section_lower %}
	{% endblock first_section %}

  {% block second_section %}
  	{% block second_section_upper %}
			<section id="sec-about" class="sec-about pt-5 pb-5">
				<div class="container">
					<div class="row justify-content-center text-center">
						<div class="col-md-10 col-lg-8">
    {% endblock second_section_upper %}

		{% block second_section_lower %}
						</div>
					</div>
				</div>
			</section>
  	{% endblock second_section_lower %}
  {% endblock second_section %}

{% endblock content%}


{% block press_section %}
  <br><br><br><br>

  <section id="sec-contact" class="sec-contact pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1 class="h4">For press enquiry, story tips and anything else, contact us at team@opengenus.org </h1>
        </div>
      </div>
    </div>
  </section>

  <br><br><br><br><br><br>
{% endblock press_section %}

<footer class="footer fixed-bottom">
	{% block footer %}
	<ul class="list-inline mb-0 text-center">

        <li class="list-inline-item">
          <a href="https://twitter.com/opengenus" target="_blank"><span class="fa fa-2x fa-twitter social_link"></span></a>
        </li>

        <li class="list-inline-item">
          <a href="https://github.com/opengenus" target="_blank"><span class="fa fa-2x fa-github-square social_link"></span></a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/opengenus" target="_blank"><span class="fa fa-2x fa-linkedin social_link"></span></a>
        </li>

        <li class="list-inline-item">
          <a href="mailto:team@opengenus.org" target="_blank"><span class="fa fa-2x fa-envelope-o social_link"></span></a>
        </li>
      </ul>
	{% endblock footer %}

</footer>
</html>
