{% extends "base.html" %}

<head>{% load static %}
    {% block head %}
    {{ block.super }}
{% endblock head %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500" rel="stylesheet">
    <meta name="description" content="OpenGenus {{object.full_name}} School  {{object.location}} ">
    <meta name="keywords" content="OpenGenus, open-source, communities, school, {{object.full_name}}">
  </head>

  <title>{% block head_title %}{{ block.super }}{% endblock head_title %}</title>
{% block header %}
    {{ block.super }}
{% endblock header %}

{% block content %}
<body>
  <br><br><br>
  <h1 class="alt-h1 lh-condensed mt-2 mb-10 text-center">
    <img height= "60" width="60" src="{{ object.logo_picture.url  }}">{{ object.full_name }} <small>,{{ object.location }}</small>
  </h1>
  <h6 class="alt-h1 lh-condensed mt-2 mb-10 text-center">
    <strong>ESTD: </strong>{{ object.established_date }}
  </h6>
  <h6 class="alt-h1 lh-condensed mt-2 mb-10 text-center">
    <a target="_blank" href="{{ object.official_link }}">Official Link</a>
  </h6>
  <br>
  <div clas="col-sm-12 text center">
    <button onclick="location.href='/school/{{ object.url_endpoint }}/interns'" class="btn btn-horizontal-center">
      Interns from {{ object.short_name }}
    </button>
  </div>
  <section id="team-section" class="my-5 text-center bg-light text-muted">
    <div class="container">
      <h4 class="alt-h1 lh-condensed mt-2 mb-10 text-center">
        About {{ object.short_name }} :
      </h4><br>
      <h5 class="alt-h1 lh-condensed mt-2 mb-10 text-center">
        {{ object.description | safe }}
      </h5>
    </div>
  </section>
</body>
{% endblock content %}

{% block press_section %}
{% endblock press_section %}

<footer>
{% block footer %}
  {{ block.super }}
{% endblock footer %}
</footer>
